.explore-card {
  min-width: 280px;
  border: 1px solid #dbdbdb;
  height: 290px;
  padding-top: 16px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  text-align: center;
}

.card-footer {
  width: 100%;
  text-align: center;
  height: 55px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 600;
}
.card-footer a{
  text-decoration: none;
  color: #de042e;
}