.section-header{
    font-size: 28px;
   
}

.menu-banner{
    width: 100%;
}
.menu-banner img{
    width: 100%;
}

.menu-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-cards{
    display: flex;
    gap:25px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
}